.git
.idea
.vscode
target/
*/target/
!api-gateway-service/target/
api-gateway-service/target/*
!api-gateway-service/target/*-runner
!booking-service/target/
booking-service/target/*
!booking-service/target/*-runner
!flight-service/target/
flight-service/target/*
!flight-service/target/*-runner
!payment-service/target/
payment-service/target/*
!payment-service/target/*-runner
!notification-service/target/
notification-service/target/*
!notification-service/target/*-runner
node_modules/
dist/
**/node_modules/
**/dist/
trip-ui/node/
.codex-*
*.log
